body {
    text-align: center;
    background-color: aqua;
}

h1 {
 font-family: 'Architects Daughter', cursive; 
    color: magenta;
}
h2{
 font-family: 'Architects Daughter', cursive;
    color: magenta;   
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}
.line{
    height: 6px;
    width: 70px;
    background: lightcoral;
    margin: 8px auto;
   }